{% extends "components/base.html" %}
{% load static %}
{% block main %}

<section class="bg-gray-100">
  <div class="container mx-auto p-4">
    <a class="text-blue-500 hover:text-blue-700" href="{% url "ideas_list" %}">Back to Idea List</a>

    <div class="mt-8 p-8 bg-white rounded-lg shadow-md">
      <a href="#">
        <h3 class="text-2xl font-bold text-gray-900">{{ idea.title }}</h3>
      </a>

      <p class="mt-4 text-sm text-gray-600">{{ idea.description }}</p>

      {% if user.is_authenticated %}
        <div class="flex items-center justify-between mt-6">
          <div class="flex items-center space-x-2">
            <button class="bg-blue-500 text-white px-3 py-1 rounded">
              {% if ratings.total == 0 %}
                0 ({{ ratings.total }} ratings)
              {% elif ratings.total > 0 %}
                {{ ratings.total }} ({{ rating.total }} ratings)
              {% else %}
                {{ ratings.total }} ({{ rating.total }} ratings)
              {% endif %}
            </button>

            <a href="{% url "idea_rating" idea.id 'like' %}" class="bg-green-500 text-white px-3 py-1 rounded">
              <i class="fas fa-thumbs-up"></i>{{ ratings.like }}
            </a>

            <a href="{% url "idea_rating" idea.id 'dislike' %}" class="bg-red-500 text-white px-3 py-1 rounded">
              <i class="fas fa-thumbs-down"></i>{{ ratings.dislike }}
            </a>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="mt-8 p-4 bg-light rounded-lg">
      <h2 class="text-2xl font-bold mb-4">Comments:</h2>
      {% if user.is_authenticated %}
        <form action="{% url "idea_comment_create" idea.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="commentInput" class="block mb-2 text-gray-700">Your Comment:</label>
          <input
            name="text"
            type="text"
            id="commentInput"
            placeholder="I think..."
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-600"
          />
          <button class="mt-4 px-6 py-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300" type="submit">Create</button>
        </form>
      {% endif %}
    </div>

    <hr class="my-8 border-t-2 border-gray-300" />

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {% for comment in comments %}
        <div class="p-4 bg-white rounded-lg shadow-md">
          <h3 class="text-xl font-bold text-gray-800">{{ comment.author.username }}</h3>
          <p class="mt-2 text-gray-600">{{ comment.text }}</p>
          <hr class="my-2 border-t-2 border-gray-300" />
          <p class="text-sm text-gray-500">{{ comment.date_time }}</p>
          <a href="#" class="text-sm font-medium text-red-600 hover:text-red-700">Report</a>
        </div>
      {% empty %}
        <div class="p-4 bg-white rounded-lg shadow-md">
          <h3 class="text-xl font-bold text-gray-800">No comments yet!</h3>
          <p class="mt-2 text-gray-600">Be the first one to comment!</p>
        </div>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock main %}
